<div class="row">
        <table class="table table-hover table-inverse">
          <tbody>
            <% book.book_comments.each do |comment| %>
            <tr>
              <td>
                <%= link_to user_path(comment.user.id) do %>
                  <%= attachment_image_tag comment.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %><br />
                  <%= comment.user.name %>
                <% end %>
              </td>
              <td><%= comment.comment %></td>
              <!--投稿ユーザなら表示↓-->
              <% if comment.user == current_user %>
              <td><%= link_to "Destroy", book_book_comment_path(comment.book, comment), class:'btn btn-danger', method: :delete %></td>
              <% else %>
              <td></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <!--@bookで/books/:book_id/book_commentsの:book_idを取得するのさ〜〜！！-->
        <%= form_with model: book_comment, url: book_book_comments_path(book), local:true do |f| %>
          <div class="comment_form">
            <%= f.text_area :comment, class:"form-control", size:"90x3" %>
            <%= f.submit "送信" %>
          </div>
        <% end %>
      </div>